/* Add CSS Styling */
.odd {
    background-color: hsl(0, 59%, 70%);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}
.adjust-font-size{
    font-size: 24px;
}
#two {
    color: hsl(240, 68%, 54%);
    font-size: 36px;
}
#four {
    background-color: rgb(108, 185, 108);
    font-weight: bold;
}