body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 8px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
}

button {
  padding: 8px 24px;
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
}

.button-container {
  padding: 12px;
  margin-top: 12px;
}

div,
h1 {
  margin: 8px auto;
}